
// Colors

$c-white: #fff;
$c-black: #000;
$accent: #03a9f4;
$body-grey: #eee; 
$light-grey: #e6e6e6;
$medium-grey: #ccc;
$dark-grey: #8a8a8a;
$black: #303030;
$red: #ec3434;
// Layout

$block-padding: 2rem;
$top-margin: $block-padding;
$top-padding: $block-padding;
$bottom-margin: $block-padding;
$bottom-padding: $block-padding;

$block-padding-half: $block-padding / 2;

$element-spacing: 20px;

// Typography

$font-1: Georgia;
$font-2: Arial, sans-serif;

@font-face {
  font-family: 'Cherokee';
  src: url('../../fonts/Plantagenet Cherokee.eot');
  src: url('../../fonts/Plantagenet Cherokee.eot') format('embedded-opentype'),
       url('../../fonts/Plantagenet Cherokee.woff2') format('woff2'),
       url('../../fonts/PlantagenetCherokee.woff') format('woff'),
       url('../../fonts/PlantagenetCherokee.ttf') format('truetype'),
       url('../../fonts/PlantagenetCherokee.svg#') format('svg');

}
$font-family: 'Cherokee', sans-serif;

@font-face {
  font-family: 'Cantarell';
  src: url('../../fonts/Cantarell-Regular.eot');
  src: url('../../fonts/Cantarell-Regular.eot') format('embedded-opentype'),
       url('../../fonts/Cantarell-Regular.woff2') format('woff2'),
       url('../../fonts/Cantarell-Regular.woff') format('woff'),
       url('../../fonts/Cantarell-Regular.ttf') format('truetype'),
}
$font-family-body: 'Cantarell', serif;

$font-1: $font-family-body;
$font-2: $font-family-body;

// Media Queries

$bp-mobile:	"only screen and (max-width: 480px)";
$bp-tab-sm: "only screen and (max-width: 600px)";
$bp-tab:	"only screen and (max-width: 768px)";
$bp-desk:	"only screen and (max-width: 992px)";
$bp-desk-lg: "only screen and (max-width: 1200px)";
$bp-mobile-padding: "only screen and (max-width: 1240px)"; // $bp-desk-lg + mobile side padding

// Susy Settings (add as needed in base)

$gutter-position: after;
$container: 1200px;
$columns: 12;
$gutters: 1;
$box-sizing: border-box;