
// Libraries

// Optional: @import "../../bower_components/compass-mixins/lib/compass";
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../../bower_components/normalize-css/normalize";
@import "../../bower_components/animate.scss/scss/animate";
@import "../../bower_components/wow/css/libs/animate";


// Theme Configuration

@import "variables";
@import "base";
@import "mixins";
@import "type";
@import "layout";

// views

@import "views/navigation";
@import "views/header";
@import "views/footer";

// Pages

@import "pages/home";
@import "pages/sample";

// Modules

@import "../../includes/modules/modules";

// Global Rules

body{
	background: white;
	margin:0px;
	padding:0px;
}
a{
	color:#7B7879;
	&:hover{
		color:#231F20;
	}
}
.container{
	@include container($container);
	overflow: hidden;
}
article{
	margin-bottom:0;
}
.site-footer{
	padding-top:30px;
    background-color: #EFDCCF;
	font-family: $font-2;
	a.button{
		display:inline-block;
		text-transform:uppercase;
		background-color:#231F20;
		padding:18px;
		color:#D7DCCF;
//		margin-left:30px;
		margin-bottom:30px;
		&:hover,&:focus,&:active{
			text-decoration:none;
			color:#D7DCCF;
		}
	}
	.footer-info{
		float:left;
		width:60%;
		.col{
			float:left;
			display:inline-block;		
			width:30%;
			label{
				font-weight:bold;
				margin-bottom:20px;
			}
			ul{
				list-style-type:none;
				font-size:12px;
			}
			
		}
	}
	.footer-action{
		float:right;
		width:40%;
		text-align:right;
	}
	.site-info{
		clear:both;
		width:100%;
		text-align:right;
		padding-top:30px;
		padding-bottom:10px;
	}
		padding:30px;
	@media #{$bp-desk-lg} {
		.footer-info{
			width:100%;
			text-align:center;
			.col{
				display:block;
				width:100%;
			}
		}
		.footer-action{
			padding-top:30px;
			width:100%;
			text-align:center;
			a.button{
				float:none;
				width:50%;
			}
		}
	}
}
.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-accordion.current-menu-ancestor > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-shift.current-menu-ancestor > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item ul.sub-menu .current-menu-item .shiftnav-target{
	color: #ffffff;
	background: black !important;
}